.icon-container {
  overflow: hidden;
      width: 100%;
      position: relative;
      height: 100px;

  }
  
  .icon-list {
    height: 100px;
    display: flex;
    width: 100%;
    /* flex-wrap: wrap; */
    align-items: center;
    max-width: 100vw;
    overflow: hidden;
    overflow-x: hidden !important;
    justify-content: flex-end;
  }
  
  .icon {
    width: 100px;
    height: 100px;
    margin: 5px;
    position: absolute;
  }
