.icon-container {
  overflow: hidden;
  width: 100%;
}
  
  .icon-list {
    height: 180px;
    width: 100%;
  }
  
  .icon {
    width: 80px;
    height: 80px;
    /* position: absolute; */
  }
.icon img{
  object-fit: contain;
  width: 100%;
  transition: all 200ms ease;
}
.icon:hover img{
  transform: scale(1.1);
}

@media only screen and (max-width: 600px) {
  .icon img{
    object-fit: contain;
  }
  .react-multi-carousel-track {
    height: 100px;
  }
}