.experience-review-container p{
margin-top: 20px;
max-width: 600px;
}
.timeline{
    max-width: 900px;
    margin: 0 auto;
}
.timeline h3{
    margin: 0px;
    padding: 0px;
    width: auto;
}
.experience-review-container .subtitle{
    margin: -5px 0px;
    opacity: 0.6;
    font-style: italic;
    font-weight: bold;
}