:root{
  --primary-color: white;
  --secondary-color: #1a1b1f;
  --text-color: #1a1b1f;
  --light-secondary: #32343a;
  --lighter-secondary: #e2e2e2;
  --main-2: #BEBFC7;
  --bg-secondary: #f4f4f4;
}

*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;

}
body{
  color: var(--text-color);
  font-size: 16px;
  font-weight: 400;
  scroll-behavior: smooth;
  background-color: white;
  overflow-x: hidden;
}
html, body { 
  scroll-behavior: smooth
}
h1,h2,h3,h4,h5,h6{
  font-weight: normal;
  color: var(--text-color);
  margin: 10px 0px;
}
h1{
  font-size: 2.8rem;
  margin: 20px 0px;
}

h2{
  font-size: 2.3rem;
}
h3{
  font-size: 1.9rem;
}
h4{
  font-size: 1.5rem;
}
h5{
  font-weight: 500;
  font-size: 1.1rem;
}
h6{
  font-weight: 500;
  font-size: 0.9rem;
}
.display-big{
  font-size: 4rem;
  margin: 10px 0px;
}
.display-medium{
  font-size: 2.8rem;
  margin: 10px 0px;
}
.display-small{
  font-size: 1.5rem;
  margin: 10px 0px;
}

hr{
  height: 1px;
  background-color: #eee;
  border: none;
  outline: none;
  padding: 0px;
  margin: 5px 0px;
}
.label{
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.8rem;
}
a{
  color: var(--text-color) ;
}
.p-bigger{
  font-size: 1.2rem;
}
.p-light{
  opacity: 0.6;
}
.p-small{
  font-size: 0.9rem;
}
.p-tiny{
  font-size: 0.75rem;
}
p{
  line-height: 1.5rem;
  font-size: 0.95rem;
  font-weight: 400;
}
button{
  outline: none;
  border: none;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  letter-spacing: 2px;
  font-size: 0.9rem;
  padding: 12px 25px;
  transition: background-color .4s, opacity .4s, color .4s;
  cursor: pointer;
}
button.btn-bigger{
  padding: 16px 35px;
  font-size: inherit;
}
button:hover{
  background-color: var(--light-secondary);
}

blockquote{
  border-left: 5px solid var(--lighter-secondary);
  padding: 15px 30px;
  margin: 25px 0px;
  font-size: 1.2rem;
}

.rich-text p{
  opacity: 0.6;
  margin-top: 15px;
  margin-bottom: 25px;
}

figcaption{
  display: block;
  caption-side: bottom;
  text-align: center;
  font-size: 0.8rem;
  opacity: 0.6;
}

ul{
  margin: 20px 0px;
  padding-left: 40px;
  list-style-type: disc;
}

ul li{
  margin-bottom: 10px;
}

.app-container{
 min-height: calc(100vh - 180px);   
}


label{
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.9rem;
  font-weight: 500;
  padding: 10px 0px;
}
input,textarea{
  border:  1px solid var(--lighter-secondary);
  outline: none;
  padding: 15px 15px;
  transition: all 100ms ease;
}
input::placeholder,textarea::placeholder{
  color: var(--main-2);

}
input:focus,input:active,textarea:active,textarea:focus{
  border:  1px solid var(--secondary-color);
}

.input-group{
  display: flex;
  flex-direction: column;
  margin: 10px 0px;
}



.loader{
  width: 100vw;
  height:   100%;
  position: fixed;
  z-index: 100000000;
  top: 0;
  left: 0;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader svg{
  width:30%;
  height: 30%;
}
a,button{
  transition: all 200ms ease;
}
a,button:active{
  transform:  scale(0.9);
}