.experience-card{
    max-width: 250px;
    max-height: 250px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-start;
    padding: 20px 0px;
}
.experience-card img{
    align-self: left;
    margin-bottom: 15px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.558);
}

.experience-card .title{
    margin: 10px 0px;
    font-size: 1.1rem;
    font-weight: 300;

}

.experience-card-container{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 20px;
}

.experience-container{
    margin: 60px 0px;
}
.experience-container h2 + p{
    margin: 15px 0px;
}

@media only screen and (max-width: 600px) {
    .experience-card-container{
        grid-template-columns: 1fr 1fr;

        column-gap: 10px;
    }
    .experience-card {
        max-height: 400px;
    }
}