.contact-form{
    margin-top: 25px;
}
.contact-form .form-header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
}
@media only screen and (max-width: 600px) {
    .contact-form .form-header{
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 0px;
    }
    #contact{
        max-width: 200px;
    }
}
.contact-form button{
    margin: 20px 0px;
}
#contact{
    max-width: 800px;
}
.contact-form input,.contact-form textarea{
    transform-origin: top left;
}